*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    direction: rtl;
    text-decoration: none;
    font-family: 'Cairo', sans-serif;
    font-size: 12.8px;
 }
:root
{
    --main-color:#ffff;
    --secondd-color:#1a212c;
    --nav-color:#f9fafc;
    --bac-search:#eff2f7;
    --hover-color:#0055a6;
}

.container
{
    margin: 0 100px;
    padding: 1.5rem;
}
a{
color: var(--secondd-color);
}
.bold
{
    font-weight: bold;
}
/* start header  */
 
header .container{
 padding: 0;
}
header .head-top
{
    margin: 0;
}
/* start row one  */
header .container .colum nav ul 
{
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    width: 100%;
    font-size: 1rem;
    background-color: var(--nav-color);
}
header .container .colum nav li,.list ul li
{
    display: inline-block;
    padding: 1rem 5px;
    color: var(--secondd-color);
    border-left: 1px solid #eaedf4;;
    font-size: 1.2rem;
}
header .container .colum nav li:last-child
{
    border-left: 0px solid #eaedf4;;
}
header .container .colum nav li a
{
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
}
header .container .colum nav li span
{
    margin: 0 .6rem;
}
header .container .colum nav li:hover span i
{
    color: var(--hover-color);
}
/* end row one   */
/* start row tow  */
.h-r-2
{
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 0;
}
.humprgar{
    display: none;
}
.logo img
{
    width: 250px;
    height: 58px;
}
    .search {
        display: flex;
        flex-grow: 1;
        justify-content: space-between;
        margin: 0 1rem;
        align-items: center;
        border-radius: 20px;
        padding:  20px;
        background-color: var(--bac-search);
        position: relative;
    }
    .search input
    {
        border: 0;
        width: 98%;
        background-color: var(--bac-search);
        outline: 0;
    }
     
    .basket i{
        padding: 20px;
        border-radius: 50%;
        background-color: var(--bac-search);
    }
.search-link
{
    position: absolute;
    left: 5%;
 }
.search-link ul li
{
    display: inline-block;
    margin: 0px 5px;
}
.search-link ul li a
{
    padding: 0px 10px;
    border: 1px solid var(--secondd-color);
    border-radius:25px;
}
/* end row tow  */
/* strat row three  */
.list ul
{
    width: 100%;
}
.list ul li
{
    display: inline-block;
    margin: 0 10px;
    border-left: 0;
    padding-bottom: 5px;
}
.list ul li a
{
    font-size: 1.3rem;
}
.list ul li:first-of-type
{
    border-bottom: 5px solid #42526e;
    padding: 0 2rem;
    padding-bottom: 5px;
}
.list ul li:nth-of-type(2)
{
    border-bottom: 5px solid #0052cc;;
}
.list ul li:nth-of-type(3)
{
    border-bottom: 5px solid #ffa723;
}
.list ul li:nth-of-type(4)
{
    border-bottom: 5px solid #f36f21;
}
.list ul li:nth-of-type(5)
{
    border-bottom: 5px solid #b300a9;;
}
.list ul li:nth-of-type(6)
{
    border-bottom: 5px solid #d4070e;
}
.list ul li:last-of-type
{
    border-bottom: 5px solid #00a651;
}
.list ul li:hover
{
    border-bottom-width: 6px;
}
/* end row three  */
/* end header  */


/* strat main  */
main{
    height: 500px;
}
/* end main  */


/* start footer  */
footer {
    background-color: var(--secondd-color);
}
footer .container .one
{
    display: flex;
    color: var(--nav-color);
    justify-content: space-evenly;
    flex-wrap: nowrap;
    align-items: flex-start;
}
footer .container .one > div
{
    margin: 20px 10px;
}
footer form
{
    width: 300px;
    background: #484848;
    margin: 10px 0;
    padding: 20px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
form .input-txt
{
    width: 100%;
    background: var(--bac-search);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    flex-wrap: nowrap;
    border-radius: 10px;
    margin-bottom: 10px;
    color: var(--secondd-color);
}
form .input-txt input
{
    border: 0;
    background-color: var(--bac-search);
    padding: 5px;
    width: 98%;
    outline: 0;
}
form button
{
    padding: 1rem 1.5rem;
    border-radius: 10px;
    cursor: pointer;
    transition: .5s;
    border: 0;
    outline: 0;
}
form button:hover
{
    background-color: var(--hover-color);
    color: var(--nav-color);
    border: 1px solid black;
}
footer .container .one > div .txt,.row .colum .txt
{
    color:#8fa0a5;
    font-size: 1.4rem;
    border-bottom: 1px solid #8fa0a5;
    padding-bottom: 10px ;
    margin-bottom:5px;
}
footer .container .one > div ul li 
{
    padding: .5rem 0;
}
footer .container .one > div ul li a
{
    color: var(--nav-color);
    font-size: 1rem;
 }
 .tow .colum .txt
 {
     width: 300px;
 }
 footer .container .icons
 {
     margin: 20px 0;
 }
 footer .container .icons  i
 {
    margin: 0 5px;
    font-size: 10px;
    background-color: red;
    color: var(--nav-color);
    padding: 10px;
    border-radius: 50%;
    margin-bottom: 15px;
 }
 footer .payments 
 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: left;
    line-height: 30px;
    color: var(--secondd-color);
    background: var(--bac-search);
    margin: 0;
    padding: 20px 100px;
 }
 footer .payments .pay 
 {
    display: flex;
    font-size: 10px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
 }
 footer .container .pay img
 {
     width: 75px;
     background-size: cover;
     margin: 10px;
 }
/* end footer  */


